$name: link;

.#{$name} {
  @extend a:not([class]);

  &_line_none {
    border-bottom-color: transparent;
  }

  &_color_text {
    color: $color-text;

    &:hover {
      color: $color-text-hover;
    }

    &:active {
      color: $color-text-active;
    }
  }
}
