include ../mixins/link-arrow

.container
  .mb-5
    .mb-4
      .text
        p= '.text Lorem ipsum dolor sit amet, '
          a(href='#') consectetur adipisicing elit
          | . Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?
        p Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?

    .mb-4
      .text.text_size_sm
        p= '.text.text_size_sm Lorem ipsum dolor sit amet, '
          a(href='#') consectetur adipisicing elit
          | . Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?
        p Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?

    .mb-4
      .text.text_size_lg
        p= '.text.text_size_lg Lorem ipsum dolor sit amet, '
          a(href='#') consectetur adipisicing elit
          | . Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?
        p Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?

    .mb-4
      .invert
        .text.text_color_white
          p= '.text.text_color_white Lorem ipsum dolor sit amet, '
            a(href='#') consectetur adipisicing elit
            | . Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?
          p Ab alias amet culpa deleniti, dignissimos dolore dolorum, excepturi exercitationem fugiat, fugit mollitia nesciunt nobis quae quidem sapiente sed sint soluta ullam vitae voluptates. Ab deleniti error illo impedit magni minima nam numquam perferendis possimus quasi?

  .mb-5
    .mb-4
      a.link(href='#') .link
    .mb-4
      a.link.link_line_none(href='#') .link.link_line_none
    .mb-4
      .invert
        a.link.link_color_white(href='#') .link.link_color_white
    .mb-4
      a.link.link_color_text(href='#') .link.link_color_text

  .mb-5
    .mb-4
      +link-arrow({
        text: '.link-arrow'
      })

  .mb-5
    .mb-4
      .title .title
    .mb-4
      .invert
        .title.title_color_white .title.title_color_white
    .mb-4
      .title.title_color_main .title.title_color_main
    .mb-4
      .title.title_size_lg .title.title_size_lg
    .mb-4
      .title.title_size_xl .title.title_size_xl

  .mb-5
    .mb-4
      .subtitle .subtitle

  .mb-5
    .mb-4
      .btn .btn
    .mb-4
      a.btn(href='#') a.btn
    .mb-4
      input.btn(type='button' value='input.btn')
    .mb-4
      button.btn button.btn
    .mb-4
      a.btn.btn_primary(href='#') a.btn.btn_primary
    .mb-4
      .btn.btn_wide .btn.btn_wide
    .mb-4
      .btn.btn_size_lg .btn.btn_size_lg
    .mb-4
      button.btn.btn_disabled(disabled) button.btn.btn_disabled or [disabled]
