html {
  height: 100%;
  font-size: 8px;

  @include screen-sm() {
    font-size: 9px;
  }

  @include screen-xl() {
    font-size: 10px;
  }
}

body {
  height: 100%;
  font-size: 1.8rem;
  font-family: $font-main;
  color: $color-text;
  line-height: 1.5;
  padding-top: $header-height;
  display: flex;
  flex-direction: column;
  scrollbar-color: $color-main $color-gray;

  &.noscroll {
    overflow: hidden;
  }
}

input,
textarea {
  // appearance: none;
  // border-radius: 0;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;

  &:not([class]),
  &[class=''] {
    @extend %transition;
    color: $color-main;
    fill: currentColor;
    border-bottom: 1px solid currentColor;

    &:hover {
      color: $color-main-hover;
    }

    &:active {
      color: $color-main-active;
    }
  }
}

b,
strong {
  font-weight: 600;
}

hr {
  margin: 0;
  border: none;
  border-bottom: 1px solid $color-text-light;
}

img {
  max-width: 100%;
  height: auto;
}

.invert {
  background: $color-text;
  margin: 0 -1rem;
  padding: 1rem;
}

.upper {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

.row-gap-5 {
  margin-bottom: -3rem;

  [class^='col'] {
    margin-bottom: 3rem;
  }
}

.text-center {
  text-align: center;
}

.text-sm-left {

  @include screen-sm() {
    text-align: left;
  }
}

.text-sm-right {

  @include screen-sm() {
    text-align: right;
  }
}

.text-lg-right {

  @include screen-lg() {
    text-align: right;
  }
}

.mb-6 {
  margin-bottom: 4.5rem;
}

.mb-7 {
  margin-bottom: 6rem;
}

::selection {
  background-color: darken($color-main-light, 7%);
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: $color-gray;
}

::-webkit-scrollbar-thumb {
  background: $color-main;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-main;
}
